<div *ngIf="orders.length > 0" class="max-w-md mx-auto bg-white rounded-3xl shadow-xl overflow-hidden">
  <h2 class="text-2xl font-bold px-8 pt-8">Order Summary</h2>

  <div class="px-8 py-4 space-y-6">
    <div *ngFor="let order of orders" class="flex justify-between">
      <div>
        <h4>{{order.name}} (x{{order.quantity}})</h4>
        <p class="text-xs text-gray-400">{{order.description}}</p>
      </div>
      <span>LKR{{(order.price * order.quantity)}}</span>
    </div>
  </div>

  <div class="px-8 py-6 bg-gray-50">
    <div class="flex justify-between">
      <span>Subtotal</span>
      <span>LKR{{subtotal }}</span>
    </div>
    <div class="flex justify-between">
      <span>Shipping</span>
      <span class="text-green-500">Free</span>
    </div>
    <div class="flex justify-between border-t pt-4">
      <span class="font-bold">Total</span>
      <span class="text-indigo-600 font-black text-2xl">{{subtotal }}</span>
    </div>
  </div>
</div>